#view {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
  position: absolute;
  z-index: 0;
}
#view > div {
  white-space: nowrap;
}

.cell {
  width: 20px; height: 20px;
  border: 1px solid white;
  padding: 3px;
  background-color: rgb(52, 166, 251);
  color: white;
  text-align: center; font-size: 17px;
  font-family: sans-serif;
  display: inline-block;

  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  border: 2px solid white;
  text-align: center;
  font-size: 17px;
  font-family: sans-serif;
  padding: 4px;
  color: rgb(64, 64, 64);
  background-color: white;
  height: 45px;
}
.selected, button:active {
  background-color: rgb(64, 64, 64);
  color: white;
}
button:hover {
  border: 2px solid rgb(64, 64, 64);
}
.palette, .tool, .edit, .dialog > button {
  width: 45px;
}
.edit:disabled {
  color: rgba(64, 64, 64, 0.5);
}

#menu, #toolbar {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 1px; padding-left: 2px; padding-right: 2px;
  font-size: 17px; font-family: sans-serif;
  color: rgb(64, 64, 64);
  background-color: white;
  position: fixed;
  z-index: 1;
}

#menu {
  overflow-y: hidden;
}

#toolbar {
  top: 60px;
  width: 180px;
}

textarea, input, button {
  outline: none;
}
textarea {
  overflow: hidden;
}
.dialog {
  padding-left: 2px;
  border-left: 1px solid rgb(64, 64, 64);
}
.field {
  width: 40px; height: 15px;
  padding: none;
  border: none;
  border-bottom: 1px solid rgb(64, 64, 64);
  resize: none;
  font-size: 15px;
  font-family: monospace;
}
.info {
  width: 170px;
  padding: 5px;
  resize: none;
  border: none;
  font-size: 14px;
  font-style: italic;
  font-family: monospace;
  white-space: pre-line;
  color: transparent;
  text-shadow: 0 0 0 white;
  background-color: rgb(64, 64, 64);
}

.material-icons {
  vertical-align: middle;
}
.material-icons.md-18 {
  font-size: 18px;
}
